#reklama {
   background: linear-gradient(88.68deg, #FFFFFF 36.84%, #E7E7EB 74.27%), #FFFFFF;
   .reklama {
      display: flex;
      box-shadow: 0px 2px 2px #DCDCDC;
      div {
         flex: 25%;
         max-width: 25%;
         align-items: center;
         display: flex;
         align-items: center;
         justify-content: center;
         img {
            width: 100%;
         }
         h3 {
            font-weight: 600;
            font-size: 30px;
            line-height: 55px;
         }
         button {
            background: #008F48;
            border: 1px solid #008F48;
            box-sizing: border-box;
            border-radius: 10px;
            color: #FFFFFF;
            padding: 5px 10px;
         }
      }
   }
}

@media screen and (max-width: 992px) {
   #reklama {
      .reklama {
         flex-wrap: wrap;
         div {
            flex: 50%;
            max-width: 50%;
            flex-direction: column;
         }
      }
   }
}