#navbar {
   background-color: #FAFAFA;
   .topHeader {
      height: 80px;
      display: flex;
      .logo {
         a {
            text-decoration: none;
            font-size: 22px;
            font-weight: 600;
            color: #008F48;   
         }
      }
      .search {
         form {
            position: relative;
            height: 40px;
            margin-left: 60px;
            img {
               position: absolute;
               left: 16px;
               top: 12px;
               padding: 0;
            }
            input {
               width: 400px;
               padding-left: 45px;
               background: #FFFFFF;
               box-shadow: 0px 0px 2px 2px rgba(204, 204, 204, 0.51);
               border-radius: 5px;
               border: none;
               height: 40px;
               &:focus {
                  outline: none;
               }
            }
         }
      }
      .language {
         select {
            border: none;
            outline: none;
            border-style: none;
            border-width: 0;
            -webkit-appearance: none;
            /*webkit browsers */
            -moz-appearance: none;
            /*Firefox */
            appearance: none;
            /* modern browsers */
            border-radius: 0;
            background-color: #FAFAFA;
            font-size: 14px;
            color: rgba(0, 0, 0, 0.8);
            opacity: 0.7;
            option {
               outline: none;
            }
            &:hover {
               outline: none;
            }
         }
         padding: 8px 30px;

      }
      .phone {
         border: 1px solid #008F48;
         box-sizing: border-box;
         border-radius: 10px;
         padding: 6px;
         width: 180px;
         display: flex;
         align-items: center;
         justify-content: space-around;
         span {
            color: #008F48;
            font-size: 16px;
         }
      }
   }
   .header {
      height: 70px;
      background-color: white;
      nav {
         & > a {
            position: relative;
            img.innerImg {
               position: absolute;
               z-index: 100;
               left: 10px;
               top: 12px;
            }
         }
         .nav-item {
            .nav-link {
               position: relative;
               color: black;
            }
            .subMenus {
               padding-top: 16px;
               display: none;
               position: absolute;
               width: 200px;
               table {
                  background-color: #008F48;
                  a {
                     text-decoration: none;
                     color: white;
                  }
               }
            }
            &:hover {
               .subMenus {
                  z-index: 100;
                  display: block;
               }
            }

         }
         button {
            border: none;
            background: #FFFFFF;
            position: relative;
            &:focus {
               outline: none;
            }
            .newsMenuCategories {
               position: absolute;
               z-index: 25;
               background: #00AB7E;
               box-shadow: 0px 5px 15px rgba(12, 122, 93, 0.55);
               border-radius: 0px 0px 10px 10px;
               top: 53px;
               left: -60px;
               right: -60px;
               padding: 5px 10px;
               a {
                  text-decoration: none;
                  color: white;
                  text-align: left;
                  display: block;
               }
            }
         }
      }
   }
}

@media screen and (max-width: 992px) {
   #navbar {
      .topHeader {
         padding: 0 1vw;
         .search {
            form {
               margin-left: 10px;
               input {
                  width: 100%;
                  padding-left: 45px;
                  background: #FFFFFF;
                  box-shadow: 0px 0px 2px 2px rgba(204, 204, 204, 0.51);
                  border-radius: 5px;
                  border: none;
                  height: 40px;
                  &:focus {
                     outline: none;
                  }
               }
            }
         }
         .logo {
            background-color: #FAFAFA;
            img {
               font-size: 40px;
               color: black;
               height: 40px;
               width: 40px;
               
            }
         }
      }
      .header {
         height: 0;
         nav {
            z-index: 15;
            top: 80px;
            left: 0;
            right: 0;
            position: absolute;
            flex-direction: column;
            background-color: black;
            height: calc(100vh - 80px);
            transition: display 1s;
            .nav-item {
               .nav-link {
                  color: white;
                  text-align: center;
                  font-size: 30px;
               }
            }
            button {
               background-color: black;
               text-align: center;
               display: block;
               margin: auto;
            }
         }
      }
   }
}