#navbar {
   background-color: #E5E5E5;
   .topHeader {
      height:80px;
      display: flex;
      .logo {
         a {
            text-decoration: none;
            font-size: 22px;
            font-weight: 600;
            color: #008F48;   
         }
      }
      .search {
         form {
            position: relative;
            i {
               position: absolute;
               top: 8px;
               left: 8px;
            }
            input {
               padding:0 28px;
               background: #FFFFFF;
               box-shadow: 0px 0px 2px 2px rgba(204, 204, 204, 0.51);
               border-radius: 5px;
               border: none;
               height: 40px;
               &:focus {
                  outline: none;
               }
               width: 75%;
            }
         }
      }
      .language {
         padding: 8px 30px;
      }
      .phone {
         border: 1px solid #008F48;
         box-sizing: border-box;
         border-radius: 10px;
         padding: 6px;
         span {
            color: #008F48;
         }
      }
   }
   .header {
      background-color: white;
      nav {
         .nav-link {
            color: black;
         }
         button {
            border: none;
            background: #FFFFFF;
            position: relative;
            &:focus {
               outline: none;
            }
            .newsMenuCategories {
               position: absolute;
               z-index: 25;
               background: #00AB7E;
               box-shadow: 0px 5px 15px rgba(12, 122, 93, 0.55);
               border-radius: 0px 0px 10px 10px;
               top: 53px;
               left: -60px;
               right: -60px;
               padding: 5px 10px;
               a {
                  text-decoration: none;
                  color: white;
                  text-align: left;
                  display: block;
               }
            }
         }
      }
   }
}

@media screen and (max-width: 992px) {
   #navbar {
      .topHeader {
         padding: 0 1vw;
         .logo {
            background-color: black;
            svg {
               font-size: 40px;
               color: white;
            }
         }
      }
      .header {
         nav {
            z-index: 15;
            top: 80px;
            left: 0;
            right: 0;
            position: absolute;
            flex-direction: column;
            background-color: black;
            height: calc(100vh - 80px);
            transition: display 1s;
            .nav-link {
               color: white;
               text-align: center;
               font-size: 30px;
            }
            button {
               background-color: black;
               text-align: center;
               display: block;
               margin: auto;
            }
         }
      }
   }
}