   .carouselSlider {
      padding: 0px;   
      background-color: #E5E5E5;
      height: calc(100vh - 150px);
      .slick-slide {
         .imgBox {
            position: relative;
            .innerBox {
               padding: 10vh 10vw;
               position: absolute;
               z-index: 12;
               top: 0;
               h3 {
                  padding-top: 10vh;
                  font-size: 32px;
                  color: white;
                  text-align: center;
               }
               img {
                  z-index: 100;
                  margin: auto;
               }
            }
            img {
               height: 100%;
            }
         }
      }
      .slick-initialized { 
         .slick-arrow:before {
            width: 40px;
            height: 40px;
            font-size: 30px;
         }
         .slick-next {
            z-index: 10;
            right: 3vw;
         }
         .slick-prev {
            left: 3vw;
            z-index: 10;
         }
         .slick-dots {
            bottom: 80px;
            button::before {
               font-size: 10px;
               color: white;
            }
         }
      }
   }


@media screen and (max-width: 992px) {
   .carouselSlider {
      padding: 0px;   
      background-color: #E5E5E5;
      height: calc(100vh - 80px);
      .slick-slide {
         .imgBox {
            position: relative;
            .innerBox {
               padding: 10vh 10vw;
               position: absolute;
               z-index: 12;
               top: 0;
               h3 {
                  padding-top: 20vh;
                  font-size: 5vw;
                  color: white;
                  text-align: center;
               }
               img {
                  z-index: 100;
                  margin: auto;
               }
            }
            & > img {
               height: calc(100vh - 80px);
            }
         }
      }
      .slick-initialized { 
         .slick-arrow:before {
            width: 40px;
            height: 40px;
            font-size: 30px;
         }
         .slick-next {
            z-index: 10;
            right: 3vw;
         }
         .slick-prev {
            left: 3vw;
            z-index: 10;
         }
         .slick-dots {
            bottom: 40px;
            button::before {
               font-size: 10px;
               color: white;
            }
         }
      }
   }
}